#home {
  background: rgb(0, 101, 219);

  background: linear-gradient(
    90deg,
    rgb(0, 101, 219) 50%,
    rgb(0, 212, 255, 1) 100%
  );
  min-height: 500px;
}
/* Cards */
.card {
  transition: all 0.5s ease;
}
.card:hover {
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* Form */
.form {
  background: rgb(0, 101, 219);
  background: linear-gradient(
    90deg,
    rgb(0, 101, 219) 50%,
    #00d4ff 100%
  );
}

.footer{
  background: rgb(0, 101, 219);
  background: linear-gradient(
    90deg,
    rgb(0, 101, 219) 50%,
    #00d4ff 100%
  );
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
